In [1]:
# Import Required Libraries for Data Generation
import pandas as pd
import numpy as np
from faker import Faker
import random, string
from datetime import datetime, timedelta,date
# Generate Synthetic Data for EV Fleet Monitoring
# Initialize Faker object
fake = Faker()
# Store existing vehicle IDs to ensure uniqueness
existing_vehicle_ids = set()
# Function to generate unique Vehicle ID
def generate_unique_vehicle_id(prefix, length=3):
    while True:
        vehicle_id = prefix + ''.join(random.choices(string.digits, k=length))
        if vehicle_id not in existing_vehicle_ids:
            existing_vehicle_ids.add(vehicle_id)  # Ensure uniqueness
            return vehicle_id

# Function to generate Driver ID (no uniqueness check)
def generate_driver_id(prefix, length=3):
    return prefix + ''.join(random.choices(string.digits, k=length))
# Number of entries you want in your dataset
num_records = 1000

# Set maximum possible range (based on assumptions about the EV fleet)
max_range_km = 500  # Maximum range (in kilometers) for a fully charged battery
avg_energy_consumption_per_km = 0.15  # kWh per km, for simplicity (can vary based on vehicle model)

# List of EV Models (you can add more if needed)
# vehicle_models = [
#     "Tesla Model 3", "Nissan Leaf", "Hyundai Kona EV", "BMW i3", "Audi e-tron", "Volkswagen ID.4",
#     "Kia Soul EV", "Ford Mustang Mach-E", "Chevrolet Bolt EV", "Porsche Taycan", "Jaguar I-Pace", 
#     "Mini Cooper SE", "Tesla Model S", "Renault Zoe", "Peugeot e-208", "Honda e", "Volvo XC40 Recharge",
#     "Mercedes EQC", "Mazda MX-30", "Opel Corsa-e", "Rivian R1T", "Skoda Enyaq iV", "Toyota bZ4X", 
#     "Lucid Air", "Fisker Ocean", "Mercedes EQS", "Nissan Ariya", "Polestar 2", "Audi Q4 e-tron", 
#     "Citroen e-C4", "Smart EQ Forfour", "Peugeot e-2008", "Kia EV6", "BYD Tang EV", "BMW iX3", 
#     "Ford F-150 Lightning", "Volkswagen ID.3", "Tesla Model X", "Honda Clarity", "Hyundai Ioniq EV", 
#     "Lexus UX 300e", "MG ZS EV", "Subaru Solterra", "Tesla Model Y", "XPeng P7", "Rivian R1S", 
#     "Mercedes EQA", "Tesla Cybertruck", "Toyota Mirai"
# ]

# Generate synthetic data for the EV fleet monitoring system
data = []
start_date = date(2023, 1, 1)
end_date = date(2023, 12, 31)

for _ in range(num_records):
    # Vehicle ID (unique identifier)
    id =  random.randint(1, 5)   # Generate unique Vehicle ID

    # Driver ID (can repeat)
    # driver_id = generate_driver_id("D", 3)  # Driver ID (no uniqueness check)

    # Simulate random battery level between 15% and 100%
    battery_level = random.randint(15, 100)  # Battery level between 15%-100%

    # Calculate the range using a positive correlation with the battery level (linear)
    range_km = ((battery_level - 15) / (100-15)) * (460 - 20) + 20 + random.uniform(-10, 10) # Scaled range between 20 and 460 km
    range_km = round(range_km, 2)

    # Calculate energy consumed (in kWh)
    energy_consumed = range_km * avg_energy_consumption_per_km  # kWh

    # Calculate the fast charge speed (in kW)
    fast_charge_speed = random.randint(50, 150)  # Fast charge speed between 50 kW and 150 kW

    # Generate Latitude and Longitude specific to India
    latitude = round(random.uniform(8, 37), 6)  # Latitude between 8° and 37° (India specific)
    longitude = round(random.uniform(68, 97), 6)  # Longitude between 68° and 97° (India specific)

    # Simulate other features
    speed = random.randint(40, 120)  # Speed between 40-120 km/h (integer)
    maintenance_cost = random.randint(50, 300)  # Maintenance cost between $50 to $300 (integer)
    charging_cost = random.randint(5, 40)  # Charging cost between $5 to $40 (integer)
    random_date = fake.date_between(start_date=start_date,end_date=end_date)  # Random date within the last decade
    date = random_date.strftime("%y%m%d")
    #  Generate Pin Code (Random 6-digit number in India's pin code range)
    pin_code = random.randint(100000, 999999)

    # Working Condition: 1 (Working), 0 (Not Working) with a 9:1 ratio
    working_condition = random.choices([0, 1], weights=[1, 9], k=1)[0]  # 0: Not Working (10%), 1: Working (90%)

    # Charging/Discharging: 1 (Discharging), 0 (Charging) with a 60% chance for Discharging, 40% for Charging
    charging_status = random.choices([0, 1], weights=[4, 6], k=1)[0]  # 1: Discharging (60%), 0: Charging (40%)

    # Randomly select a model from the list of vehicle models
    # model = random.choice(vehicle_models)
    status = random.randint(0,1)
    # Append generated data row
    data.append([id, range_km, battery_level, latitude, longitude, speed, 
                 maintenance_cost, charging_cost, pin_code, working_condition, charging_status, 
                 energy_consumed, fast_charge_speed, status, date])

# Create a DataFrame from the generated data
syn_data = pd.DataFrame(data, columns=[
    'id',  
    'Range (km)', 
    'Battery Level (%)', 
    'Latitude (°)', 
    'Longitude (°)', 
    'Speed (km/h)', 
    'Maintenance Cost ($)', 
    'Charging Cost ($)', 
    'Pin Code', 
    'Working Condition', 
    'Charging Status', 
    'Energy Consumed (kWh)', 
    'Fast Charge Speed (kW)',
    'status',
    'Date'
])

# Display the first 20 rows of the DataFrame
syn_data.head(20)
# Check Dataframe Information
syn_data.info()
# Convert the 'Date' column to datetime if it's not already
syn_data['Date'] = pd.to_datetime(syn_data['Date'], format='%y%m%d')

# # Split the 'Date' column into 'Day', 'Month', 'Year'
# df['Day'] = df['Date'].dt.day
# df['Month'] = df['Date'].dt.month
# df['Year'] = df['Date'].dt.year

# Drop the original 'Date' column
# df = df.drop(columns=['Date'])

# Display the DataFrame to verify the changes
syn_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1000 non-null   int64
 1   Range (km)              1000 non-null   float64
 2   Battery Level (%)       1000 non-null   int64
 3   Latitude (°)            1000 non-null   float64
 4   Longitude (°)           1000 non-null   float64
 5   Speed (km/h)            1000 non-null   int64
 6   Maintenance Cost ($)    1000 non-null   int64
 7   Charging Cost ($)       1000 non-null   int64
 8   Pin Code                1000 non-null   int64
 9   Working Condition       1000 non-null   int64
 10  Charging Status         1000 non-null   int64
 11  Energy Consumed (kWh)   1000 non-null   float64
 12  Fast Charge Speed (kW)  1000 non-null   int64
 13  status                  1000 non-null   int64
 14  Date                    1000 non-null   object
dtypes: float64(4), int64(10), object(1)
memory usage: 117.3+ KB

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,Charging Status,Energy Consumed (kWh),Fast Charge Speed (kW),status,Date
0,4,166.00,43,24.133183,74.192878,84,190,16,930882,1,0,24.9000,100,0,2023-05-26
1,3,129.11,38,29.533084,74.464238,69,93,28,691248,1,1,19.3665,106,0,2023-03-02
2,1,378.85,84,15.706448,82.747704,90,179,20,751651,1,0,56.8275,70,0,2023-06-29
3,5,151.02,42,24.275673,73.054975,47,54,8,833445,1,1,22.6530,80,0,2023-04-04
4,4,40.18,18,14.874813,94.513065,90,192,11,593157,1,1,6.0270,127,1,2023-12-18
5,5,214.91,51,27.260199,82.591922,42,182,19,757322,1,1,32.2365,67,0,2023-08-25
6,4,180.67,46,23.473234,89.530714,59,183,8,292617,0,0,27.1005,84,0,2023-08-17
7,1,308.52,70,33.960528,83.168002,61,121,12,348668,1,1,46.2780,51,0,2023-04-24
8,5,231.68,54,25.289913,94.434887,60,263,22,226068,1,1,34.7520,89,0,2023-01-27
9,1,343.31,78,29.655331,79.278948,117,252,12,817353,1,0,51.4965,55,1,2023-05-20
10,1,92.64,29,29.141032,96.272970,46,215,36,844854,1,1,13.8960,54,0,2023-07-21
11,3,389.68,87,32.355210,90.015346,48,210,17,582519,1,0,58.4520,134,0,2023-09-15
12,2,184.74,48,22.697529,73.587058,74,202,7,932223,1,0,27.7110,105,1,2023-03-03
13,5,20.29,15,31.220929,78.495488,110,215,24,990971,1,1,3.0435,150,0,2023-04-24
14,5,257.33,60,35.509338,86.628842,116,159,20,187620,1,1,38.5995,111,1,2023-01-15
15,4,97.78,31,28.447342,74.567215,105,282,35,308198,1,1,14.6670,96,1,2023-10-18
16,5,393.85,86,8.533167,81.518397,78,53,23,962305,1,1,59.0775,117,0,2023-04-22
17,4,80.08,28,26.727195,78.494598,93,242,15,672995,1,0,12.0120,91,0,2023-06-21
18,4,403.48,88,9.398104,82.143724,120,198,24,566090,1,1,60.5220,100,0,2023-03-16
19,5,349.67,78,17.863866,74.827345,47,124,5,704325,1,1,52.4505,85,1,2023-01-29

In [3]:
true_data= pd.read_csv('vehicleds.csv')

true_data

,id,dvr,Make,mgr,Acceleration 0 - 100 km/h,Top Speed,ER,Total Power,Total Torque,Drive,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats
0,1,deepak,Tesla1,Mark,4.4,233,485,366,493,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
1,2,dinesh,Tesla2,vettal,3.3,261,460,377,660,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
2,3,varun,BMW,sainz,5.7,190,470,250,430,Rear,83.9,4783,1852,1448,2856,2605,555,470,5
3,4,chandu,Volkswagen,john,7.9,160,450,150,310,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
4,5,mahendra,Polestar,mathew,7.4,160,425,170,330,Front,78.0,4607,1800,1479,2735,2490,496,405,5
5,1,shwetha,Tesla1,Mark,4.4,233,485,366,493,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
6,2,praveen,Tesla2,vettal,3.3,261,460,377,660,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
7,3,shruthi,BMW,sainz,5.7,190,470,250,430,Rear,83.9,4783,1852,1448,2856,2605,555,470,5
8,4,dhoni,Volkswagen,john,7.9,160,450,150,310,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
9,5,kohli,Polestar,mathew,7.4,160,425,170,330,Front,78.0,4607,1800,1479,2735,2490,496,405,5

In [4]:
data = pd.merge(syn_data,true_data, on="id")

In [5]:
data

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,Drive,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats
0,4,166.00,43,24.133183,74.192878,84,190,16,930882,1,...,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
1,4,166.00,43,24.133183,74.192878,84,190,16,930882,1,...,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
2,4,40.18,18,14.874813,94.513065,90,192,11,593157,1,...,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
3,4,40.18,18,14.874813,94.513065,90,192,11,593157,1,...,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
4,4,180.67,46,23.473234,89.530714,59,183,8,292617,0,...,Rear,82.0,4261,1809,1568,2771,2300,447,385,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,37.25,17,16.483978,75.933133,91,287,37,672773,1,...,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
1996,2,313.96,72,10.905087,79.750679,86,188,10,458530,1,...,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
1997,2,313.96,72,10.905087,79.750679,86,188,10,458530,1,...,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
1998,2,30.55,18,30.201833,87.204171,48,244,35,787427,1,...,AWD,82.0,4694,1849,1443,2875,2232,388,561,5
1999,2,30.55,18,30.201833,87.204171,48,244,35,787427,1,...,AWD,82.0,4694,1849,1443,2875,2232,388,561,5

In [6]:
# Define the min and max values for scaling
min_km = 20000
max_km = 200000

# Get the min and max values of the 'Range (km)' column
min_range = data['Range (km)'].min()
max_range = data['Range (km)'].max()

# Generate 'km' values based on a linear correlation with 'Range (km)'
data['km'] = min_km + ((data['Range (km)'] - min_range) / (max_range - min_range)) * (max_km - min_km)

# Add randomness to introduce slight variation
data['km'] = data['km'] + np.random.uniform(-5000, 5000, data.shape[0])

# Ensure 'km' values stay within the range (20,000 to 200,000)
data['km'] = data['km'].clip(min_km, max_km)

# Round the 'km' values for clarity
data['km'] = data['km'].round()

# Display the first few rows to verify
print(data[['Range (km)', 'km']].head(10))

   Range (km)       km
0      166.00  84267.0
1      166.00  77279.0
2       40.18  30793.0
3       40.18  26956.0
4      180.67  88146.0
5      180.67  89568.0
6       97.78  56053.0
7       97.78  52128.0
8       80.08  48480.0
9       80.08  51508.0

In [7]:
data

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
0,4,166.00,43,24.133183,74.192878,84,190,16,930882,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,84267.0
1,4,166.00,43,24.133183,74.192878,84,190,16,930882,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,77279.0
2,4,40.18,18,14.874813,94.513065,90,192,11,593157,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,30793.0
3,4,40.18,18,14.874813,94.513065,90,192,11,593157,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,26956.0
4,4,180.67,46,23.473234,89.530714,59,183,8,292617,0,...,82.0,4261,1809,1568,2771,2300,447,385,5,88146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,37.25,17,16.483978,75.933133,91,287,37,672773,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,29423.0
1996,2,313.96,72,10.905087,79.750679,86,188,10,458530,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,139310.0
1997,2,313.96,72,10.905087,79.750679,86,188,10,458530,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,140843.0
1998,2,30.55,18,30.201833,87.204171,48,244,35,787427,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,25163.0
1999,2,30.55,18,30.201833,87.204171,48,244,35,787427,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,28264.0

In [8]:
data.describe()

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.00000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.000000
mean,3.029000,241.331340,57.756000,22.785185,83.389446,80.72200,174.920000,22.294000,553132.792000,0.905000,...,81.501000,4606.471000,1831.11500,1476.44000,2820.698000,2371.804000,454.632000,475.322000,5.0,111288.866000
min,1.000000,10.390000,15.000000,8.022633,68.071724,40.00000,50.000000,5.000000,100266.000000,0.000000,...,78.000000,4261.000000,1800.00000,1443.00000,2735.000000,2232.000000,388.000000,385.000000,5.0,20000.000000
25%,2.000000,138.532500,37.000000,15.655714,76.787096,60.00000,112.750000,13.000000,332761.500000,1.000000,...,82.000000,4607.000000,1809.00000,1443.00000,2771.000000,2232.000000,388.000000,405.000000,5.0,70379.750000
50%,3.000000,242.525000,58.000000,22.880634,83.751742,81.00000,176.000000,23.000000,552263.500000,1.000000,...,82.000000,4694.000000,1849.00000,1448.00000,2856.000000,2300.000000,447.000000,470.000000,5.0,111378.500000
75%,4.000000,348.057500,78.000000,30.223461,90.662948,101.00000,237.250000,31.000000,767522.000000,1.000000,...,82.000000,4694.000000,1849.00000,1479.00000,2875.000000,2490.000000,496.000000,561.000000,5.0,153440.500000
max,5.000000,465.520000,100.000000,36.993954,96.960648,120.00000,300.000000,40.000000,999627.000000,1.000000,...,83.900000,4783.000000,1852.00000,1568.00000,2875.000000,2605.000000,555.000000,561.000000,5.0,200000.000000
std,1.435684,125.970047,24.310861,8.368530,8.166883,23.44132,72.680677,10.244024,253352.657766,0.293288,...,1.969477,180.582741,22.69602,47.53984,58.967698,148.752234,63.703325,74.839554,0.0,49932.200931

In [9]:
data['Range (km)'] = data['Range (km)'].apply(lambda x: x*1.20 if x< 223 else x*0.75)

In [10]:
data.describe()

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.00000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.000000
mean,3.029000,206.382213,57.756000,22.785185,83.389446,80.72200,174.920000,22.294000,553132.792000,0.905000,...,81.501000,4606.471000,1831.11500,1476.44000,2820.698000,2371.804000,454.632000,475.322000,5.0,111288.866000
min,1.000000,12.468000,15.000000,8.022633,68.071724,40.00000,50.000000,5.000000,100266.000000,0.000000,...,78.000000,4261.000000,1800.00000,1443.00000,2735.000000,2232.000000,388.000000,385.000000,5.0,20000.000000
25%,2.000000,166.239000,37.000000,15.655714,76.787096,60.00000,112.750000,13.000000,332761.500000,1.000000,...,82.000000,4607.000000,1809.00000,1443.00000,2771.000000,2232.000000,388.000000,405.000000,5.0,70379.750000
50%,3.000000,214.608750,58.000000,22.880634,83.751742,81.00000,176.000000,23.000000,552263.500000,1.000000,...,82.000000,4694.000000,1849.00000,1448.00000,2856.000000,2300.000000,447.000000,470.000000,5.0,111378.500000
75%,4.000000,262.911000,78.000000,30.223461,90.662948,101.00000,237.250000,31.000000,767522.000000,1.000000,...,82.000000,4694.000000,1849.00000,1479.00000,2875.000000,2490.000000,496.000000,561.000000,5.0,153440.500000
max,5.000000,349.140000,100.000000,36.993954,96.960648,120.00000,300.000000,40.000000,999627.000000,1.000000,...,83.900000,4783.000000,1852.00000,1568.00000,2875.000000,2605.000000,555.000000,561.000000,5.0,200000.000000
std,1.435684,81.630637,24.310861,8.368530,8.166883,23.44132,72.680677,10.244024,253352.657766,0.293288,...,1.969477,180.582741,22.69602,47.53984,58.967698,148.752234,63.703325,74.839554,0.0,49932.200931

In [11]:
list(data)

['id',
 'Range (km)',
 'Battery Level (%)',
 'Latitude (°)',
 'Longitude (°)',
 'Speed (km/h)',
 'Maintenance Cost ($)',
 'Charging Cost ($)',
 'Pin Code',
 'Working Condition',
 'Charging Status',
 'Energy Consumed (kWh)',
 'Fast Charge Speed (kW)',
 'status',
 'Date',
 'dvr',
 'Make',
 'mgr',
 'Acceleration 0 - 100 km/h',
 'Top Speed',
 'ER',
 'Total Power',
 'Total Torque',
 'Drive',
 'BC',
 'Length',
 'Width',
 'Height',
 'Wheelbase',
 'Gross Vehicle Weight (GVWR)',
 'Max. Payload',
 'Cargo Volume',
 'Seats',
 'km']

In [12]:
data['dvr'].unique()

array(['chandu', 'dhoni', 'varun', 'shruthi', 'deepak', 'shwetha',
       'mahendra', 'kohli', 'dinesh', 'praveen'], dtype=object)

In [13]:
data['mgr'].unique()

array(['john', 'sainz', 'Mark', 'mathew', 'vettal'], dtype=object)

In [14]:
data.groupby(['Make']).count()

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
Make,,,,,,,,,,,,,,,,,,,,,
BMW,380,380,380,380,380,380,380,380,380,380,...,380,380,380,380,380,380,380,380,380,380
Polestar,430,430,430,430,430,430,430,430,430,430,...,430,430,430,430,430,430,430,430,430,430
Tesla1,404,404,404,404,404,404,404,404,404,404,...,404,404,404,404,404,404,404,404,404,404
Tesla2,390,390,390,390,390,390,390,390,390,390,...,390,390,390,390,390,390,390,390,390,390
Volkswagen,396,396,396,396,396,396,396,396,396,396,...,396,396,396,396,396,396,396,396,396,396

In [15]:
data.groupby(['status']).count()

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
status,,,,,,,,,,,,,,,,,,,,,
0,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010,...,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010
1,990,990,990,990,990,990,990,990,990,990,...,990,990,990,990,990,990,990,990,990,990

In [16]:
data.groupby(['status','Make']).count()

                    id  Range (km)  Battery Level (%)  Latitude (°)  \
status Make
0      BMW         194         194                194           194
       Polestar    196         196                196           196
       Tesla1      206         206                206           206
       Tesla2      210         210                210           210
       Volkswagen  204         204                204           204
1      BMW         186         186                186           186
       Polestar    234         234                234           234
       Tesla1      198         198                198           198
       Tesla2      180         180                180           180
       Volkswagen  192         192                192           192

                   Longitude (°)  Speed (km/h)  Maintenance Cost ($)  \
status Make
0      BMW                   194           194                   194
       Polestar              196           196                   196
       Tesla1                206           206                   206
       Tesla2                210           210                   210
       Volkswagen            204           204                   204
1      BMW                   186           186                   186
       Polestar              234           234                   234
       Tesla1                198           198                   198
       Tesla2                180           180                   180
       Volkswagen            192           192                   192

                   Charging Cost ($)  Pin Code  Working Condition  ...   BC  \
status Make                                                        ...
0      BMW                       194       194                194  ...  194
       Polestar                  196       196                196  ...  196
       Tesla1                    206       206                206  ...  206
       Tesla2                    210       210                210  ...  210
       Volkswagen                204       204                204  ...  204
1      BMW                       186       186                186  ...  186
       Polestar                  234       234                234  ...  234
       Tesla1                    198       198                198  ...  198
       Tesla2                    180       180                180  ...  180
       Volkswagen                192       192                192  ...  192

                   Length  Width  Height  Wheelbase  \
status Make
0      BMW            194    194     194        194
       Polestar       196    196     196        196
       Tesla1         206    206     206        206
       Tesla2         210    210     210        210
       Volkswagen     204    204     204        204
1      BMW            186    186     186        186
       Polestar       234    234     234        234
       Tesla1         198    198     198        198
       Tesla2         180    180     180        180
       Volkswagen     192    192     192        192

                   Gross Vehicle Weight (GVWR)  Max. Payload  Cargo Volume  \
status Make
0      BMW                                 194           194           194
       Polestar                            196           196           196
       Tesla1                              206           206           206
       Tesla2                              210           210           210
       Volkswagen                          204           204           204
1      BMW                                 186           186           186
       Polestar                            234           234           234
       Tesla1                              198           198           198
       Tesla2                              180           180           180
       Volkswagen                          192           192           192

                   Seats   km
status Make
0      BMW           194  194
       Polestar      196  196
       Tesla1        206  206
       Tesla2        210  210
       Volkswagen    204  204
1      BMW           186  186
       Polestar      234  234
       Tesla1        198  198
       Tesla2        180  180
       Volkswagen    192  192

[10 rows x 32 columns]

In [17]:
status_make = data.groupby(['Make', 'status'])['Date'].max().reset_index()
status_make

         Make  status       Date
0         BMW       0 2023-12-24
1         BMW       1 2023-12-30
2    Polestar       0 2023-12-22
3    Polestar       1 2023-12-25
4      Tesla1       0 2023-12-24
5      Tesla1       1 2023-12-30
6      Tesla2       0 2023-12-30
7      Tesla2       1 2023-12-21
8  Volkswagen       0 2023-12-30
9  Volkswagen       1 2023-12-30

In [18]:
status_dvr = data.groupby(['dvr', 'status'])['Date'].max().reset_index()
status_dvr

         dvr  status       Date
0     chandu       0 2023-12-30
1     chandu       1 2023-12-30
2     deepak       0 2023-12-24
3     deepak       1 2023-12-30
4      dhoni       0 2023-12-30
5      dhoni       1 2023-12-30
6     dinesh       0 2023-12-30
7     dinesh       1 2023-12-21
8      kohli       0 2023-12-22
9      kohli       1 2023-12-25
10  mahendra       0 2023-12-22
11  mahendra       1 2023-12-25
12   praveen       0 2023-12-30
13   praveen       1 2023-12-21
14   shruthi       0 2023-12-24
15   shruthi       1 2023-12-30
16   shwetha       0 2023-12-24
17   shwetha       1 2023-12-30
18     varun       0 2023-12-24
19     varun       1 2023-12-30

In [19]:
# Find the index of the last day for each driver grouped by 'make' and 'status'
last_day_indices = (
    data.loc[data.groupby([ 'dvr'])['Date'].idxmax()]
)
status_dvr_last_date = last_day_indices.reset_index(drop=True)
status_dvr_last_date[['dvr','status','Date']]

        dvr  status       Date
0    chandu       1 2023-12-30
1    deepak       1 2023-12-30
2     dhoni       1 2023-12-30
3    dinesh       0 2023-12-30
4     kohli       1 2023-12-25
5  mahendra       1 2023-12-25
6   praveen       0 2023-12-30
7   shruthi       1 2023-12-30
8   shwetha       1 2023-12-30
9     varun       1 2023-12-30

In [20]:
data.shape

(2000, 34)

In [21]:
data

,id,Range (km),Battery Level (%),Latitude (°),Longitude (°),Speed (km/h),Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
0,4,199.200,43,24.133183,74.192878,84,190,16,930882,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,84267.0
1,4,199.200,43,24.133183,74.192878,84,190,16,930882,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,77279.0
2,4,48.216,18,14.874813,94.513065,90,192,11,593157,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,30793.0
3,4,48.216,18,14.874813,94.513065,90,192,11,593157,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,26956.0
4,4,216.804,46,23.473234,89.530714,59,183,8,292617,0,...,82.0,4261,1809,1568,2771,2300,447,385,5,88146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,44.700,17,16.483978,75.933133,91,287,37,672773,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,29423.0
1996,2,235.470,72,10.905087,79.750679,86,188,10,458530,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,139310.0
1997,2,235.470,72,10.905087,79.750679,86,188,10,458530,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,140843.0
1998,2,36.660,18,30.201833,87.204171,48,244,35,787427,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,25163.0
1999,2,36.660,18,30.201833,87.204171,48,244,35,787427,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,28264.0

In [22]:
data.rename(columns={'Range (km)': 'range', 'Speed (km/h)': 'speed'}, inplace=True)

In [23]:
overspeed = data.loc[(data.speed>=100)]

In [24]:
overspeed.head(5)

,id,range,Battery Level (%),Latitude (°),Longitude (°),speed,Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
6,4,117.3360,31,28.447342,74.567215,105,282,35,308198,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,56053.0
7,4,117.3360,31,28.447342,74.567215,105,282,35,308198,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,52128.0
10,4,302.6100,88,9.398104,82.143724,120,198,24,566090,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,170835.0
11,4,302.6100,88,9.398104,82.143724,120,198,24,566090,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,175464.0
14,4,190.1325,61,25.179422,79.552451,113,125,15,531712,1,...,82.0,4261,1809,1568,2771,2300,447,385,5,114115.0

In [25]:
overspeed.sort_values(by = ['speed'],ascending = [True])

,id,range,Battery Level (%),Latitude (°),Longitude (°),speed,Maintenance Cost ($),Charging Cost ($),Pin Code,Working Condition,...,BC,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats,km
929,1,322.3425,94,33.843457,96.619981,100,78,5,779209,0,...,82.0,4694,1849,1443,2875,2232,388,561,5,183251.0
612,3,282.3600,85,11.017050,96.606873,100,241,5,524209,1,...,83.9,4783,1852,1448,2856,2605,555,470,5,166538.0
1102,1,343.0725,100,8.859182,82.546107,100,65,26,416416,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,198790.0
1103,1,343.0725,100,8.859182,82.546107,100,65,26,416416,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,194849.0
613,3,282.3600,85,11.017050,96.606873,100,241,5,524209,1,...,83.9,4783,1852,1448,2856,2605,555,470,5,165385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,3,46.5360,19,32.067643,76.333461,120,76,34,449629,1,...,83.9,4783,1852,1448,2856,2605,555,470,5,35790.0
1021,1,344.6325,99,34.546822,81.223974,120,163,27,220494,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,200000.0
1020,1,344.6325,99,34.546822,81.223974,120,163,27,220494,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,197040.0
561,3,336.6675,97,16.212224,79.084958,120,279,9,102887,1,...,83.9,4783,1852,1448,2856,2605,555,470,5,196379.0
1144,1,125.0400,30,27.211408,80.645702,120,208,29,136383,1,...,82.0,4694,1849,1443,2875,2232,388,561,5,52284.0

In [26]:
total_mc = data.groupby('Make')['Maintenance Cost ($)'].sum()

In [27]:
total_mc

Make
BMW           69666
Polestar      76066
Tesla1        70422
Tesla2        65300
Volkswagen    68386
Name: Maintenance Cost ($), dtype: int64

In [28]:
# # Maintenance cost for each month
# monthly_cost = data.groupby(['Make','year', 'month'])['Maintenance Cost ($)'].sum().reset_index()
# print("\nMonthly Maintenance Cost:")
# print(monthly_cost)

In [29]:
#data.to_csv('vehicle_data.csv')